@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-900 font-body text-white px-20
  }
}

@layer components {
  .page-container {
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
  }
  .movies-list .swiper-slide {
    width: 300px;
    /* @apply mx-auto */
    height: auto;
    /* height: 100px; */
  }

  .banner .swiper { 
    height: 100%;
  }

  .casts-list .swiper-slide {
    width: 400px;
    height: auto;
  }
}